<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('./common/header') %>
      <title>Login</title>
   </head>
   <body>
      <%- include('./common/nav') %>
      <section class="py-3 py-md-5">
         <div class="container">
            <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
               <div class="row justify-content-xl-center">
                  <div class="col-12 col-xl-11">
                     <h2 class="mb-3">Login</h2>
                     <p class="lead fs-4 text-secondary mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  </div>
               </div>
            </div>
            <section class="vh-100">
               <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                  <div class="container h-100">
                     <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                           <div class="card" style="border-radius: 15px;">
                              <% if(locals.error){ %>
                              <div class="alert alert-danger text-center" role="alert">
                                 <%= locals.error %>
                              </div>
                              <% } %> 
                              <div class="card-body p-5">
                                 <h2 class="text-uppercase text-center mb-5">Login</h2>
                                 <form method="post" action="/user/signin">
                                    <div data-mdb-input-init class="form-outline mb-4">
                                       <input type="email" name="email" id="form3Example3cg" class="form-control form-control-lg" />
                                       <label class="form-label" for="form3Example3cg">Your Email</label>
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                       <input type="password" name="password" id="form3Example4cg" class="form-control form-control-lg" />
                                       <label class="form-label" for="form3Example4cg">Password</label>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                       <button  type="submit" data-mdb-button-init
                                          data-mdb-ripple-init class="btn btn-primary">Login</button>
                                    </div>
                                    <p class="text-center text-muted mt-5 mb-0">Yet not registered? <a href="/user/signup"
                                       class="fw-bold text-body"><u>Register here</u></a></p>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </section>
      <%- include('./common/footer') %>